.product-card {
  transition: transform 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-img {
  height: 300px;
  object-fit: cover;
}

.product-image {
  max-height: 400px;
  object-fit: cover;
}
.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.thumbnail:hover,
.thumbnail.active {
  opacity: 1;
}
