<%-include("./common/sidebaar.ejs")%>
<!-- Content Area -->
<div class="content">
  <h2>Dashboard</h2>
  <p>Welcome to the admin panel. Here's some example data:</p>
</div>
<%-include("./common/footer.ejs")%>
