.bg {
  background-color: gold;
}
.border {
  border: 2px solid #490648;
}
.logo {
  font-weight: 700;
}
.text {
  color: #490648;
}
.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
