* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/071b30f176475d929ec650fa/20885be397c42d4f1be4a18195db08842.png");
  background-size: cover;
}
.mainImg {
  display: flex;
  justify-content: space-between;
}
.sizeDiv {
  background-color: rgb(170, 171, 173);
  height: 250px;
  width: 500px;
  z-index: 1000;
}
