* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.imageDiv {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
}
